div.filter_container {
	position: absolute;
	width: 100%;
	padding: 5px;
	border-bottom: .5px solid white;
	border-radius: 5px 5px 0 0;
	background-color: dimgray;
}

div.filter_section_one {
	display: flex;
	width: 100%;
	height: 50%;
	padding: 0 0 0 5px;
	margin: 3px 0 3px 0;
}

div.filter_section_one_from {
	display: flex;
	width: 50%;
	height: 100%;
	padding: 3px;
}

label.filter_label_small {
	width: 15%;
	height: 100%;
}

label.filter_label_large {
	width: 45%;
	height: 100%;
}

select.filter_section_one {
	width: 85%;
	height: 100%;
	color: black;
	border: none;
	border-radius: 3px;
}

select.filter_section_one:focus {
	outline: none;
}

option.filter_option {
	color: black;
}


div.filter_section_two {
	display: flex;
	width: 100%;
	height: 50%;
	padding: 0 0 0 5px;
	margin: 3px 0 0px 0;
}

div.filter_section_two_elem {
	display: flex;
	height: 100%;
	padding: 3px;
}

select.filter_section_two {
	height: 100%;
	color: black;
	border: none;
	border-radius: 3px;
}

select.filter_section_two:focus {
	outline: none;
}